select{
  border-radius:5px;
}

select:focus{
  outline:none;
}
.welcome-user{
  color: rgb(247, 152, 8);
  padding: 15px 24px;
  text-shadow: rgb(96, 1, 1);
  font-weight: bold;
}

label {
  padding-right: 2px;
}

.headers-li-right {
  display: flex;
  align-items: baseline;
}

.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
.header-li {
    float: left;
  }
  
  .header-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header-li a:hover {
    background-color: #111;
  }